.reserve-car {
  background-color: #f9f9f9;
  min-height: 86vh;
}

.reserve-car .table-hover tbody tr:hover {
  background-color: #f1f1f1;
}

.reserve-car .btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.reserve-car .btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}
