body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  
  .trip-history{
    padding-top: 70px;
  }
  
  .card {
    margin: 20px auto;
    max-width: 1400px;
    z-index: 1;
  }
  
  h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #007bff;
  }
  
  form {
    background: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  td {
    color: black;
  }
  
  .edit-button, .delete-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #ffc107;
    color: white;
  }
  
  .edit-button:hover {
    background-color: #e0a800;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: white;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    form .row .col-md-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  
    form {
      padding: 10px;
    }
  
    table {
      font-size: 0.9rem;
    }
  }
  
  
  
  
  