footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1360px;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    box-sizing: border-box;
  }
  
  footer p {
    font-size: 1rem;
    margin: 0;
  }
  