header {
    position: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 1360px;
    background-color: #343a40; 
    color: white;
    margin-bottom: 100px;
    padding: 20px 0; 
    box-sizing: border-box;
  }
  
  header h1 {
    font-size: 2.5rem;
    margin: 0;
    margin-left: 60px;
    color: white;
    text-align: left;
  }
  
  header p {
    font-size: 1rem;
    margin-left: 60px;
    text-align: left;
  }
  