header {
    position: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Centraliza horizontalmente */
    width: 90%; /* Usando uma largura flexível em vez de 50% */
    max-width: 1360px; /* Limita a largura máxima para não ocupar muito espaço em telas grandes */
    background-color: #343a40; /* Cor de fundo */
    color: white;
    margin-bottom: 100px;
    padding: 20px 0; /* Espaço interno */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura */
  }
  
  header h1 {
    font-size: 2.5rem;
    margin: 0;
    margin-left: 60px;
    color: white;
    text-align: left;
  }
  
  header p {
    font-size: 1rem;
    margin-left: 60px;
    text-align: left;
  }
  