.register-trip-exit {
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza horizontalmente */
    height: 100vh;
    padding: 20px;
  }
  
  .card-registration {
    max-width: 400px; /* Limita a largura máxima da caixa */
    width: 100%; /* Faz a caixa ocupar 100% da largura disponível até o máximo */
    margin-top: 120px; /* Espaço acima da caixa */
  }
  
  .card-header {
    text-align: center; /* Centraliza o texto do cabeçalho */
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }